name: Lint and Test Cross

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: Install Grit CLI
        run: curl -fsSL https://docs.grit.io/install | bash

      - name: lint
        run: nr lint

  test:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node and Install Dependencies
        uses: ./.github/actions/setup-node-and-install

      - name: test
        run: nr test
